.containerHF{
    background-color: #F0FFF0 !important;
}
.mainlogo img{
    width: 192px;
}
.container{
    background-color: transparent !important;
    margin-bottom: 60px;
}
.signin{
    background-color: #21B573;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 30px;
}

.nav-link{
    color: black !important;
    padding-right: 28px !important;
}
.carousel img{
    padding: 400px;
    width: 100px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.ml-20{
    margin-left: 20px;
}
.mt-40{
    margin-top: 40px;
}
.text{
    padding: 50px 30px;
}
.text h1{
    font-weight: bold;
    font-size: 48px;
}
.content img{
    width: 66px;
    height: 74px;
}
.content h4{
    text-align: center;
    font-size: 24px;
    padding-top: 15px;   
}
.content h6{
    text-align: center;
    color: gray;
}
.con{
    background-color: #F8FFFB;
    padding: 30px 10px;
    margin: 10px;
    border-radius: 8px;
}
.con:hover{
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer img{
    width: 25px;
}
.card{
    border-radius: 8px;
}
.card h5{
    padding-top: 10px;
    padding-left: 10px;
}
.card p{
    padding-bottom: 20px;
    padding-left: 10px;
}
.testimonial h1{
    text-align: center;
    font-weight: bold;
}
.testimonial p{
    margin-left: 15px;
    margin-top: 20px;
}
.bg-footer{
    background-color: #282531;
    padding: 30px 0 5px 0;
}
.courses h1{
    text-align: center;
    padding-bottom: 30px;
}
footer{
    color: white;
}
footer p{
    text-align: center;
    padding-top: 25px;
}